<odoo>
    <menuitem
        id="menu_purchase_rental_root"
        name="Purchase Rentals"
        parent="purchase.menu_purchase_root"
        sequence="30"/>

    <menuitem
        id="menu_purchase_rental"
        name="Purchase Rentals"
        parent="menu_purchase_rental_root"
        action="action_purchase_rental"/>
</odoo>
